<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kitech.noteit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notes_svgrepo_com"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_notes_svgrepo_com"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteIt">
        <activity
            android:name=".ui.Notes.NoteItActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoteIt.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>